@font-face{
    /* src: url('../css/fonts/Minecrafter.Reg.ttf'); */
    src: url('../fonts/MinecraftTen-VGORe.ttf');
    font-family: minecraft;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    width: 100vw;
    height: 100vh;
    background-image: url('/images/soil.jpg') ;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'minecraft';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    opacity: 0.9;
    
}
img{
    width: 500px;
    height: 400px;
}


.btn{
    text-decoration: none;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    font-family: "minecraft";
    font-size: 40px;
    color: black;
    text-align: center;
}

.btn:hover{
    background-color:white;
    color:rgb(36, 24, 24); 
}


/* @media(max-width:700px){
   

    #container{
        justify-content:initial;
        align-items: initial;
    }

    #container div{
        width: 100vw;
        height:17vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 1;
    }

    
#container div img{
    height: 50%;
}

.btn{
    padding: 20px;
}



} */